.comprar {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 1;
    background-color: var(--cor-cinza-clara);
    padding-top: 16px;
    font-size: 20px;
    box-shadow: 2px -2px 5px rgba(0, 0, 0, 0.4);
}

.close {
    position: absolute;
    right: 40px;
    font-size: 32px;
    top: -30px;
    background-color: var(--cor-cinza-clara);
    box-shadow: 2px -2px 2px rgba(0, 0, 0, 0.4);
}

.comprar__finalizar {
    background-color: var(--cor-principal);
    padding: 14px 8px;
    color: var(--cor-branco);
    font-weight: bold;
    font-size: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carrinho {
}

.adicionar {
    color: var(--cor-adicionar)
}

.remover {
    color: var(--cor-remover);
}

.comprarItem__tituloEPreco {
    font-weight: bold;
    max-width: 64%;
    margin: 0 auto;
}