.contatos {
    padding: 16px;
    max-width: 360px;
    margin: 0 auto;
}

.whatsapp {
    background-color: var(--cor-whatsapp);
}

.telegram {
    background-color: var(--cor-telegram);
}

.whatsapp__botao {
    background-color: var(--cor-whatsapp-escura);
    border-radius: 5777px;
    text-transform: none;
    font-size: 16px;
    width: 104px;
    font-weight: bold;
}

.whatsapp__botao:hover {
    background-color: var(--cor-whatsapp-mais-escura);
}

.telegram__botao {
    background-color: var(--cor-telegram-escura);
    border-radius: 5777px;
    text-transform: none;
    font-size: 16px;
    font-weight: bold;
    width: 104px;
}

.telegram__botao:hover {
    background-color: var(--cor-telegram-mais-escura);
}

.appMensagem {
    text-align: center;
    color: var(--cor-branco);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 56px 0 24px 0;
    margin: 40px 0;
    border-radius: 8px;
}

.appMensagem__imagem {
    height: 80px;
    border: #FFF solid;
    border-radius: 100%;
}

.appMensagem__mensagem {
    padding: 24px 0;
}

.cadastroDeEmail {
    padding: 24px;
    border: solid 1px var(--cor-cinza);
    border-radius: 8px;
}

.cadastroDeEmail__input {
    width: 100%;
    margin: 6px 0;
    padding: 8px;
    border: 1px solid var(--cor-cinza);
    border-radius: 8px;
}

.cadastroDeEmail__mensagem {
    font-size: 20px;
    text-align: center;
}

.cadastroDeEmail__botao {
    display: block;
    width: 100%;
    margin: 4px 0;
    text-transform: none;
    font-size: 16px;
}

@media screen and (min-width: 1024px) {
    .contatos {
        margin: initial;
    }
}